body{

	font-family: 'Kavivanar', cursive;
	background-color: #6A2AD5;
	color: black;
}
div{
	 background-color: #367D7D;
}

#Empatyzacja{
	background-color: #5FBABA;
}
#sleep{
	height: 20%;
	width: 30%;
}

#cel{
	background-color: #2A95D5;
}
#problem{
	background-color: #BA5F5F;
}

#nw{
	background-color: #D52A5C;
}

.bad {

}